#root {
  margin: 0;
  width: 100vw;
  padding: 0;
  border: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 600;
  font-size: larger;
  text-align: center;
  background: url('http://i.stack.imgur.com/jGlzr.png');
  background-attachment: fixed;
}

#site-nav {
  border: 1px solid #000;
  background-color: #8a8888;
}

#Page {
  box-shadow: 0 8px 16px 0 #00000033, 0 6px 20px 0 #00000030;
  border: 1px solid #000;
  text-align: center;
  display: inherit;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#main {
  display: block;
}

#icons img {
  box-shadow: none;
  display: inline-flex;
}

#mediaImg {
  max-width: 25vw;
}

#brand {
  color: #fff;
  fill: #fff;
}

h3 {
  margin-bottom: 1rem;
  font-style: bold;
}

img {
  box-shadow: 0 8px 16px 0 #00000033, 0 6px 20px 0 #00000030;
  margin-bottom: 1rem;
  max-width: 75vw;
}
