.navbar {
    display: block;
    padding: 8px;
    width: 100%;
    background: url('http://i.stack.imgur.com/jGlzr.png') no-repeat 0 0 scroll;
    background-color:#0C0C0C;
    border-bottom: 2px solid #BBB
}

.navbar h1 {
    display: inline-flex;
    margin-left: 1rem;
    color: #f8f8ff;
    justify-content: left;
}
.navbar a {
    display: inline-flex;
    float: right;
    color: #fff;
    margin-right: 2rem;
}