SocialMedia{
    display: inline-flex;
}
.SocialMedia p{
    color: #fff;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.SocialMedia ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.SocialMedia li {
    display: inline-flex;
    list-style: none;
}

.SocialMedia i {
    color: #fff;
    padding: .5rem;
}